In [1]:
import pandas as pd
import numpy as np

step_data  = [3620, 7091, 9761, 3907, 4338, 5326]
step_counts = pd.Series(step_data, name='steps')

print(step_counts)

0    3620
1    7091
2    9761
3    3907
4    4338
5    5326
Name: steps, dtype: int64

In [2]:
step_counts.index = pd.date_range( '20150329', periods=6)
print(step_counts)

2015-03-29    3620
2015-03-30    7091
2015-03-31    9761
2015-04-01    3907
2015-04-02    4338
2015-04-03    5326
Freq: D, Name: steps, dtype: int64

In [3]:
print(step_counts['2015-04-01']) #resultado -> 3907

3907

In [4]:
print(step_counts['2015-04']) #resultado -> todos do mes de abril

2015-04-01    3907
2015-04-02    4338
2015-04-03    5326
Freq: D, Name: steps, dtype: int64

In [5]:

print(step_counts.dtypes)
step_counts = step_counts.astype(float)
print(step_counts.dtypes)

int64
float64

In [6]:
step_counts[1:3]= np.NAN

step_counts = step_counts.fillna(0.) #coloco 0 onde tiver nam
print(step_counts[1:3])

2015-03-30    0.0
2015-03-31    0.0
Freq: D, Name: steps, dtype: float64

In [7]:
cycling_data = [10.7,0,None, 2.4, 15.3,           10.9,0,None]
#criação de uma tupla
joined_data = list(zip(step_data,cycling_data)) 

# o dataframe
activity_df = pd.DataFrame(joined_data)
print(activity_df)

      0     1
0  3620  10.7
1  7091   0.0
2  9761   NaN
3  3907   2.4
4  4338  15.3
5  5326  10.9

In [8]:
#Add column name to dataframe

activity_df = pd.DataFrame(joined_data, 
index=pd.date_range('20150329',periods=6),columns=['Walking','Cycling'])
print(activity_df)

            Walking  Cycling
2015-03-29     3620     10.7
2015-03-30     7091      0.0
2015-03-31     9761      NaN
2015-04-01     3907      2.4
2015-04-02     4338     15.3
2015-04-03     5326     10.9

In [9]:
print(activity_df.loc['2015-04-01'])

Walking    3907.0
Cycling       2.4
Name: 2015-04-01 00:00:00, dtype: float64

In [10]:
print(activity_df.iloc[-3])

Walking    3907.0
Cycling       2.4
Name: 2015-04-01 00:00:00, dtype: float64

In [11]:
print(activity_df['Walking'])

2015-03-29    3620
2015-03-30    7091
2015-03-31    9761
2015-04-01    3907
2015-04-02    4338
2015-04-03    5326
Freq: D, Name: Walking, dtype: int64